.sui-actionsheet {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: @actionsheet-zIndex;
    background-color: @actionsheet-color;
    li {
        margin-left: 0;
        text-align: center;
        padding: 10px 15px 10px 15px;
        font-size: 16px;
        .nowrap();
        &:active {
            background-color: @list-active-color;
        }
    }
}
.sui-actionsheet-action {
    margin-top: 6px;
}
.sui-actionsheet-title {
    font-size: 12px;
    text-align: center;
    background-color: #efeff4;
    line-height: 28px;
    padding: 0 15px;
    color: @list-desc-color;
    .nowrap();
}