// global
@line-height-default:         1.5;

@scene-bg:                    #efeff4;

//border-line
@border-line-color:           #d9d9d9;
@border-t:                    -webkit-gradient(linear, left bottom, left top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, @border-line-color));
@border-b:                    -webkit-gradient(linear, left top, left bottom, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, @border-line-color));
@border-l:                    -webkit-gradient(linear, right top, left top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, @border-line-color));
@border-r:                    -webkit-gradient(linear, left top, right top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, @border-line-color));

//color
@red:                         #ff0000;
@orange:                      #ff7200;
@blue:                        #3385e6;
@green:                       #5fb336;
@gray:                        #8e8e93;
@font-color-default:          #000;
@list-desc-color:             #6d6d72;
@list-arrow-color:            #c8c8cd;
@list-active-color:           #e5e6e7;
@link-color:                  #0066ff;
@dialog-color:                #888;

// font size
@font-size-default:           14px;
@font-size-big:               16px;
@font-size-small:             12px;
@font-size-mini:              10px;

//radius
@dialog-border-radius:        8px;

//z-index
@dialog-zIndex:              9999;
@mask-zIndex:                1000;